* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #9f9f9f;
  font-size: 14px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.center {
  padding-left: calc(50% - 615px);
  padding-right: calc(50% - 615px);
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #222;
  color: #fff;
  padding-top: 26px;
  padding-bottom: 20px;
  max-height: 75px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  min-width: 115px;
}

.logo_header {
  margin-right: 41px;
}

.brand {
  background-color: #f1e4e6;
}

.brand__flex {
  display: flex;
  align-items: center;
  max-width: 1600px;
}

.block__img {
  width: 12px;
  height: 92px;
  margin-left: 63px;
}

.brand__img {
  margin-left: 16px;
}

.brand__title {
  color: #222;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  align-items: center;
}

.brand__span {
  color: #f16d7f;
}

.content__trio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 65px;
  padding-bottom: 96px;
  justify-content: center;
}

.content__people {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__banner {
  position: absolute;
  z-index: 2;
}

.fetured__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}

.fetured__title {
  color: #222;
  font-size: 30px;
  margin-bottom: 6px;
}

.fetured__text {
  font-size: 16px;
  margin-bottom: 48px;
}

.fetured__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  align-items: start;
  text-align: left;
  background-color: #f8f8f8;
}

.card__img {
  margin-bottom: 25px;
}

.card__h3 {
  color: #000;
  font-size: 15px;
  margin-bottom: 12px;
}

.card__text {
  color: #5d5d5d;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 18px;
}

.card__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.fetured__button {
  margin-top: 48px;
  border: none;
  background-color: #fff;
}
